Repository kleyson/appz-kanban: changes, and which lefthook commands are due for each by the changed paths.
All: typecheck, lint, format

typecheck:
  run: bun run typecheck
  stage_fixed: true

lint:
  run: bun run lint:fix
  stage_fixed: true

format:
  run: bun run format:fix
  stage_fixed: true

chore: bump version to 1.0.1
  client/package.json
  package.json
  server/package.json
Due: format

chore: bump version to 1.0.1
  Dockerfile
  client/package.json
  package.json
  server/package.json
Due: format

chore: bump version to 1.0.2
  client/package.json
  package.json
  server/package.json
Due: format

chore: bump version to 1.0.1
  Dockerfile
Due: none

chore: bump version to 1.0.3
  client/package.json
  package.json
  server/package.json
Due: format

fixing dockerfile
  Dockerfile
Due: none

chore: bump version to 1.0.4
  client/package.json
  package.json
  server/package.json
Due: format

fixing build
  Dockerfile
  client/package.json
  docker-compose.yml
  server/src/db/migrate.ts
  server/src/index.ts
Due: typecheck, lint, format

chore: bump version to 1.0.5
  client/package.json
  package.json
  server/package.json
Due: format

fixing some UI for fullscreen
  client/src/components/board/BoardView.tsx
  client/src/components/board/Column.tsx
  client/src/components/board/FullscreenBoard.tsx
  client/src/index.css
Due: typecheck, lint, format

chore: bump version to 1.0.6
  client/package.json
  package.json
  server/package.json
Due: format

fixing migrations
  server/src/db/connection.ts
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.7
  client/package.json
  package.json
  server/package.json
Due: format

fixing the settings
  client/src/components/board/BoardView.tsx
  client/src/components/layout/Layout.tsx
  server/src/repositories/SettingsRepository.ts
  server/src/services/BoardService.ts
  server/src/services/CardService.ts
  server/src/services/ColumnService.ts
  server/src/services/LabelService.ts
Due: typecheck, lint, format

chore: bump version to 1.0.8
  client/package.json
  package.json
  server/package.json
Due: format

invites, errors, and moving columns
  README.md
  client/src/api/client.ts
  client/src/api/hooks.ts
  client/src/components/auth/LoginPage.tsx
  client/src/components/auth/RegisterPage.tsx
  client/src/components/board/BoardView.tsx
  client/src/components/board/Column.tsx
  client/src/components/settings/InviteManagement.tsx
  client/src/components/settings/SettingsPage.tsx
  client/src/stores/__tests__/authStore.test.ts
  client/src/stores/boardStore.ts
  client/src/types/index.ts
  client/src/utils/errorMessages.ts
  server/drizzle/0001_add_invites_and_user_role.sql
  server/drizzle/meta/0001_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/controllers/authController.ts
  server/src/controllers/inviteController.ts
  server/src/db/schema.ts
  server/src/index.ts
  server/src/repositories/BoardRepository.ts
  server/src/repositories/CardRepository.ts
  server/src/repositories/InviteRepository.ts
  server/src/repositories/UserRepository.ts
  server/src/services/AuthService.ts
  server/src/services/InviteService.ts
  server/src/types/index.ts
Due: typecheck, lint, format

refactor: extract utilities and break down large components
  client/src/components/board/BoardView.tsx
  client/src/components/board/CardDescriptionEditor.tsx
  client/src/components/board/CardLabelsSection.tsx
  client/src/components/board/CardMetadataSidebar.tsx
  client/src/components/board/CardModal.tsx
  client/src/components/board/CardSubtasksSection.tsx
  client/src/components/board/FullscreenBoard.tsx
  client/src/components/board/KanbanCard.tsx
  client/src/components/board/cardModalHelpers.ts
  client/src/components/board/helpers.ts
  client/src/components/settings/CardRottingSection.tsx
  client/src/components/settings/CustomEmojisSection.tsx
  client/src/components/settings/DefaultColumnsSection.tsx
  client/src/components/settings/DueDateSettingsSection.tsx
  client/src/components/settings/DueDateWarningsSection.tsx
  client/src/components/settings/FullscreenModeSection.tsx
  client/src/components/settings/SettingsPage.tsx
  client/src/components/settings/SettingsSection.tsx
  client/src/components/settings/Toggle.tsx
  client/src/components/settings/WebhooksSection.tsx
  client/src/components/settings/settingsHelpers.ts
  client/src/components/ui/Avatar.tsx
  client/src/components/ui/Badge.tsx
  client/src/components/ui/Button.tsx
  client/src/components/ui/Input.tsx
  client/src/components/ui/LoadingSpinner.tsx
  client/src/components/ui/Modal.tsx
  client/src/components/ui/index.ts
  client/src/utils/dateUtils.ts
Due: typecheck, lint, format

chore: bump version to 1.0.9
  client/package.json
  package.json
  server/package.json
Due: format

adding comments
  README.md
  bun.lock
  client/src/components/board/CardCommentsSection.tsx
  client/src/components/board/CardDescriptionEditor.tsx
  client/src/components/board/CardLabelsSection.tsx
  client/src/components/board/CardMetadataSidebar.tsx
  client/src/components/board/CardModal.tsx
  client/src/components/board/CardSubtasksSection.tsx
  client/src/components/board/cardModalHelpers.ts
  client/src/hooks/__tests__/useBoardDragDrop.test.ts
  client/src/hooks/__tests__/useCardModalForm.test.ts
  client/src/hooks/__tests__/useCommentEditor.test.ts
  client/src/hooks/index.ts
  client/src/hooks/useCardModalForm.ts
  client/src/hooks/useCommentEditor.ts
  client/src/stores/__tests__/boardStore.test.ts
  client/src/types/index.ts
  client/src/utils/__tests__/dateUtils.test.ts
  client/src/utils/dateUtils.ts
  server/drizzle/0003_add_comments_to_cards.sql
  server/drizzle/meta/0003_snapshot.json
  server/drizzle/meta/_journal.json
  server/src/controllers/cardController.ts
  server/src/db/schema.ts
  server/src/repositories/CardRepository.ts
  server/src/services/CardService.ts
  server/src/types/index.ts
Due: typecheck, lint, format

chore: bump version to 1.0.10
  client/package.json
  package.json
  server/package.json
Due: format

archive cards and done column
  client/src/api/hooks.ts
  client/src/components/board/ArchivedCardsPanel.tsx
  client/src/components/board/BoardView.tsx
  client/src/components/board/CardMetadataSidebar.tsx
  client/src/components/board/CardModal.tsx
  client/src/components/board/Column.tsx
  client/src/components/board/KanbanCard.tsx
  client/src/components/board/MarkdownRenderer.tsx
  client/src/hooks/__tests__/useBoardDragDrop.test.ts
  client/src/hooks/__tests__/useCardModalForm.test.ts
  client/src/hooks/__tests__/useColumnForm.test.ts
  client/src/hooks/useCardModalForm.ts
  client/src/hooks/useColumnForm.ts
  client/src/stores/__tests__/boardStore.test.ts
  client/src/types/index.ts
  client/src/utils/dateUtils.ts
  server/drizzle/0004_add_column_is_done.sql
  server/drizzle/0005_add_card_archived_at.sql
  server/drizzle/meta/_journal.json
  server/src/__tests__/setup.ts
  server/src/controllers/cardController.ts
  server/src/controllers/columnController.ts
  server/src/db/schema.ts
  server/src/repositories/CardRepository.ts
  server/src/repositories/ColumnRepository.ts
  server/src/services/CardService.ts
  server/src/services/ColumnService.ts
  server/src/types/index.ts
Due: typecheck, lint, format

chore: bump version to 1.0.11
  client/package.json
  package.json
  server/package.json
Due: format

fixing migrations again
  server/drizzle/meta/0004_snapshot.json
  server/drizzle/meta/0005_snapshot.json
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.12
  client/package.json
  package.json
  server/package.json
Due: format

fixing migrations again and again
  server/src/__tests__/api/setup.ts
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.13
  client/package.json
  package.json
  server/package.json
Due: format

fixing migrations again and again #2
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.14
  client/package.json
  package.json
  server/package.json
Due: format

fixing migrations again and again #3
  server/drizzle/meta/_journal.json
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.15
  client/package.json
  package.json
  server/package.json
Due: format

UI fixed
  client/src/components/board/CardMetadataSidebar.tsx
  client/src/components/board/KanbanCard.tsx
  client/src/index.css
  client/src/utils/dateUtils.ts
Due: typecheck, lint, format

chore: bump version to 1.0.16
  client/package.json
  package.json
  server/package.json
Due: format

collapse column
  client/src/components/board/BoardView.tsx
  client/src/components/board/Column.tsx
  server/src/db/migrate.ts
Due: typecheck, lint, format

chore: bump version to 1.0.17
  client/package.json
  package.json
  server/package.json
Due: format

more ui enhancemens
  client/src/components/board/BoardView.tsx
  client/src/components/board/Column.tsx
  client/src/components/board/FullscreenBoard.tsx
Due: typecheck, lint, format

chore: bump version to 1.0.18
  client/package.json
  package.json
  server/package.json
Due: format

fix fullscreen mode
  client/src/components/board/FullscreenBoard.tsx
Due: typecheck, lint, format

chore: bump version to 1.0.19
  client/package.json
  package.json
  server/package.json
Due: format

Path conditions:
  typecheck: any of: *.{ts,tsx}
  lint: any of: *.{ts,tsx,js,jsx}
  format: any of: *.{ts,tsx,js,jsx,json,md,yml,yaml,css}
